@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Cinzel Decorative", serif;
    background-color: #f8f1df;
    color: #001f54;
}

.navbar {
    background-color: #001f54;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 40px;
    position: relative;
    height: 90px;
}

.menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* truque para centralizar */
    display: flex;
    gap: 100px;
}

.logo img {
    height: 100px;
    margin: 20px;
    transition: transform 0.3s;
}
.logo img:hover {
    transform: scale(1.05); /* aumenta 5% ao passar o mouse */
}



.menu a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    white-space: nowrap;
}

.menu span {
    color: white;
    font-size: 40px;
    margin-top: -10px;
}
