@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Cinzel Decorative", serif;
    background-color: #f8f1df;
    color: #001f54;
}

.navbar {
    background-color: #001f54;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 40px;
    position: relative;
    height: 90px;
}

.menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* truque para centralizar */
    display: flex;
    gap: 100px;
}

.logo img {
    height: 100px;
    margin: 20px;
    transition: transform 0.3s;
}
.logo img:hover {
    transform: scale(1.05); /* aumenta 5% ao passar o mouse */
}



.menu a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    white-space: nowrap;
}

.menu span {
    color: white;
    font-size: 40px;
    margin-top: -10px;
}


/* Conteúdo */
.container {
    text-align: center;
    padding: 40px;
}

.container h1 {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 70px;
    text-transform: uppercase;
}

/* Cards */
.cards {
    display: flex;
    justify-content: center;
    gap: 150px;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    max-width: 250px;
}

.card p {
    font-size: 30px;
    margin-left: -30px;
    margin-bottom: 15px;
    white-space: nowrap;
    

}

.card img {
    width: 250px;
    object-fit: contain;
    margin-bottom: 15px;
    transition: transform 0.3s;
}

.card img:hover {
    transform: scale(1.05); /* aumenta 5% ao passar o mouse */
}

.card button {
    background-color: #002c77;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.card button:hover {
    background-color: #0044aa;
    transform: scale(1.1);
}

